{{ define "title" }}
  Blog: {{ .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
  <section class="container post">
    <article>
      <header>
        <div class="post-title">
          <h1 class="title">
            <a class="title-link" href="{{ .Permalink | safeURL }}">
              {{ .Title }}
            </a>
          </h1>
        </div>
        <div class="post-meta">
          <div class="date">
            <span class="posted-on">
              <i class="fa-solid fa-calendar" aria-hidden="true"></i>
              <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
                {{ .Date | time.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}
              </time>
            </span>
            <span class="reading-time">
              <i class="fa-solid fa-clock" aria-hidden="true"></i>
              {{ i18n "reading_time" .ReadingTime }}
            </span>
          </div>
          {{ with .GetTerms "authors" }}{{ partial "taxonomy/authors.html" . }}{{ end }}
          {{ with .GetTerms "categories" }}{{ partial "taxonomy/categories.html" . }}{{ end }}
          {{ with .GetTerms "tags" }}{{ partial "taxonomy/tags.html" . }}{{ end }}
        </div>
      </header>

      <div class="post-content">
        {{ if .Params.featuredImage }}
        <img src="{{ .Params.featuredImage | relURL }}" alt="Featured image"/>
        {{ end }}
        {{ .Content }}
      </div>


      <footer>
	{{ if not .Params.DisableCall2Action }}
	<h3><i class="fa-solid fa-phone"></i> Schedule a Call</h3>
	<p>Need a dev? Let’s see if we click. Grab a slot.</p>
	<div class="calendar">
	  <!-- Cal inline embed code begins -->
	  <div id="my-cal-inline"></div>
	  <script type="text/javascript">
             (function (C, A, L) { let p = function (a, ar) { a.q.push(ar); }; let d = C.document; C.Cal = C.Cal || function () { let cal = C.Cal; let ar = arguments; if (!cal.loaded) { cal.ns = {}; cal.q = cal.q || []; d.head.appendChild(d.createElement("script")).src = A; cal.loaded = true; } if (ar[0] === L) { const api = function () { p(api, arguments); }; const namespace = ar[1]; api.q = api.q || []; if(typeof namespace === "string"){cal.ns[namespace] = cal.ns[namespace] || api;p(cal.ns[namespace], ar);p(cal, ["initNamespace", namespace]);} else p(cal, ar); return;} p(cal, ar); }; })(window, "https://app.cal.com/embed/embed.js", "init");
           Cal("init", "30min", {origin:"https://cal.com"});

             Cal.ns["30min"]("inline", {
               elementOrSelector:"#my-cal-inline",
               config: {"layout":"month_view","theme":"dark"},
               calLink: "jorgean/30min",
             });

             Cal.ns["30min"]("ui", {"theme":"dark","hideEventTypeDetails":false,"layout":"month_view"});
	  </script>
	  <!-- Cal inline embed code ends -->
	</div>
      </div>
      {{ end }}
        {{ partial "posts/series.html" . }}
        {{ partial "posts/disqus.html" . }}
        {{ partial "posts/commento.html" . }}
        {{ partial "posts/utterances.html" . }}
        {{ partial "posts/giscus.html" . }}
        {{ partial "posts/mastodon.html" . }}
        {{ partial "posts/telegram.html" . }}
        {{ partial "posts/cusdis.html" . }}
      </footer>
    </article>

    {{ partial "posts/math.html" . }}
  </section>
<!-- Cal element-click embed code begins -->
<script type="text/javascript">
  (function (C, A, L) { let p = function (a, ar) { a.q.push(ar); }; let d = C.document; C.Cal = C.Cal || function () { let cal = C.Cal; let ar = arguments; if (!cal.loaded) { cal.ns = {}; cal.q = cal.q || []; d.head.appendChild(d.createElement("script")).src = A; cal.loaded = true; } if (ar[0] === L) { const api = function () { p(api, arguments); }; const namespace = ar[1]; api.q = api.q || []; if(typeof namespace === "string"){cal.ns[namespace] = cal.ns[namespace] || api;p(cal.ns[namespace], ar);p(cal, ["initNamespace", namespace]);} else p(cal, ar); return;} p(cal, ar); }; })(window, "https://app.cal.com/embed/embed.js", "init");
Cal("init", "30min", {origin:"https://cal.com"});

  Cal.ns["30min"]("ui", {"hideEventTypeDetails":false,"layout":"month_view"});
</script>
  <!-- Cal element-click embed code ends -->
{{ end }}
