{{ with .Site.Params.social }}
<ul>
  {{ range sort . "weight" }}
    {{ if .icon }}
      <li>
        <a href="{{ .url | safeURL }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} {{ if .target }}target="{{ .target }}"{{ end }} {{ if .type }}type="{{ .type }}"{{ end }}>
          <i class="{{ .icon }}" aria-hidden="true"></i>
        </a>
      </li>
    {{ else }}
      <li>
        <a href="{{ .url | safeURL }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} {{ if .target }}target="{{ .target }}"{{ end }}>{{ .name }}</a>
      </li>
    {{ end }}
  {{ end }}
  <!-- NOTE: placed here for convenience -->
  <li>
    <a href="#" aria-label="schedule a call" data-cal-link="jorgean/30min" data-cal-namespace="30min" data-cal-config='{"layout":"month_view"}'><i class="fa-solid fa-phone fa-2x" aria-hidden="true"></i></a>
  </li>
</ul>
{{ end }}
